<template>
  <div class="row">
    <div class="col-md-6">
      <h3>Formulário</h3>

      <div class="form-group">
        <label>Marcas</label>
        <select @change="searchByID(selected_brand)" v-model="selected_brand" class="form-control">
          <option selected disabled>Selecione uma opção</option>
          <option :value="brand.id" v-for="brand in brands" :key="brand.id">{{brand.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Celulares</label>
        <select v-model="selected_product" class="form-control">
          <option selected disabled>Selecione uma opção</option>
          <option :value="product.id" v-for="product in products" :key="product.id">{{product.name}}</option>
        </select>
      </div>

      <hr />
      <h3>Combobox select</h3>
      <div class="form-group">
        <label>Celulares</label>
        <select v-model="selected_product_2" class="form-control">
          <option selected disabled>Selecione uma opção</option>
          <option
            :value="product.id"
            v-for="product in products_2"
            :key="product.id"
          >{{product.name}}</option>
        </select>
      </div>

      <hr />
      <h3>Por nome</h3>
      <div class="form-group">
        <label>Buscar</label>
        <input @input="searchProduct(search_product)" v-model="search_product" class="form-control" />
        <br />

        <label>Celulares</label>
        <select v-model="selected_product_3" class="form-control">
          <option selected disabled>Selecione uma opção</option>
          <option
            :value="product.id"
            v-for="product in products_3"
            :key="product.id"
          >{{product.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <h3>Código</h3>

      <h6>Marca selecionada: {{selected_brand}}</h6>
      <h6>Produto selecionado: {{selected_product}}</h6>

      <hr />

      <h6>Nome digitado: {{search_product}}</h6>

      <hr />

      <h6>Produtos encontrados</h6>
      <pre>{{products_3}}</pre>

      <hr />

      <h6>Marcas</h6>
      <pre>{{brands}}</pre>

      <hr />

      <h6>Produtos</h6>
      <pre>{{products}}</pre>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selected_brand: null,
      selected_product: null,
      selected_product_2: null,
      selected_product_3: null,
      search_product: null,

      brands: null,
      products: null,
      products_2: null,
      products_3: null
    };
  },
  mounted() {
    axios.get("/products").then(result => {
      this.products = result.data;
    });

    axios.get("/brands").then(result => {
      this.brands = result.data;
    });
  },

  methods: {
    searchByID(id) {
      axios.get(`/brands/${id}/products`).then(result => {
        this.products_2 = result.data;
      });
    },

    searchProduct(name) {
      axios.get(`/products/${name}`).then(result => {
        this.products_3 = result.data;
      });
    }
  }
};
</script>
