<template>
  <div class="card">
    <div class="card-header">Exemplo de componente</div>
    <div class="card-body">Este é um exemplo de componente</div>
  </div>
</template>

<script>
export default {
  mounted() {
    // console.log("Component mounted.");
  }
};
</script>
